// Layout: contains all the CSS that handles the layout, such as the container and any grid systems.



.container {
    width: 100%;
}

header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
    padding: 1em 2.4em;
    @include box-shadow(0 3px 12px 0 rgba(0,0,0,0.05));

    .logo-item_wrapper {
        font-size: 2em;
        font-weight: 740;
    }
    nav ul {
        display: flex;
        flex-direction: row;

        li {
            list-style-type: none;
            margin: 0 12px;

            a {
                text-decoration: none;
                &:hover {
                    @include link-style--hover($underline: true)
                }
            }
        }
    }
}


.output_wrapper {
    margin: 40px auto;
    border: 1px solid #000;
    max-width: 75%;

    .output-header_wrapper {
        text-align: center;
        border-bottom: 1px solid;
        padding: 0.5em 0;
        // margin-bottom: 0.8em;

        h2 {
            display: inline-block;
            margin-right: 0.6em;
        }
        .show-btn {
            font-size: 1.5em;
            position: relative;
            top: -4px;
            i:hover {
                cursor: pointer;
            }
        }
    }
}

.courses-items_wrapper, .works-items_wrapper, .webpages-items_wrapper {
    display: none;
    padding: 0 1em;
    margin-top: 0.8em;
}


table {
    width: 100%;

    thead {
        font-weight: 600;
    }
}

.webpage-item {
    border-bottom: 1px solid #000;
    padding: 1em 0;

    img {
        width: 100%;
        max-width: 350px;
    }
    .webpage-info {
        max-width: 400px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.edit-modal, .add-modal, .edit-work_modal, .add-work_modal, .edit-webpage_modal, .add-webpage_modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.67);
}

.form_wrapper {
    background-color: #fefefe;
    margin: auto;
    padding: 4em;
    box-shadow: 0px 2px 13px 2px rgba(0,0,0,0.34);
    width: 80%;
    border-radius: 8px;
    border-top: 8px solid rgb(84, 21, 156);
    position: relative;
}